{% extends 'base.html' %} 

{% block content %}
    {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="https://api.dicebear.com/7.x/initials/svg?seed={{current_user.first_name}}%20{{current_user.last_name}}&background=297af4&size=128" class="rounded-circle mb-3" alt="User Profile picture">
              <h4 class="card-title">{{ current_user.full_name }}</h4>
              <p class="text-muted">{{ current_user.email }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-header">Update Profile</div>
            <div class="card-body">
              <form action="/profile" method="POST">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  {{ form.username(class="form-control", id="username") }}
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    {{ form.first_name(class="form-control", id="first_name") }}
                </div>
                <div class="mb-3">
                  <label for="last_name" class="form-label">Last Name</label>
                  {{ form.last_name(class="form-control", id="last_name") }}
              </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    {{ form.email(class="form-control", id="email") }}
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </form>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">Change Password</div>
            <div class="card-body">
              <form action="/profile/update_pass" method="POST">
                <div class="mb-3">
                    <label for="current_password" class="form-label">Current Password</label>
                    {{ password_form.current_password(class="form-control", id="current_password") }}
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password</label>
                    {{ password_form.new_password(class="form-control", id="new_password") }}
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm New Password</label>
                    {{ password_form.confirm_password(class="form-control", id="confirm_password") }}
                </div>
                <button type="submit" class="btn btn-primary">Update Password</button>
              </form>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body text-center">
              <form action="/profile/delete" method="POST">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}