{% extends 'base.html' %} 

{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Financial Reports</h2>

    <div class="row">
        <div class="col-md-6">
            {% if img_data.expenses_by_category %}
                <div class="card mb-4">
                    <div class="card-header">Expenses by Category</div>
                    <div class="card-body text-center">
                        <img src="data:image/png;base64,{{ img_data.expenses_by_category }}" class="img-fluid" alt="Expenses by Category">
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-6">
            {% if img_data.monthly_trends %}
                <div class="card mb-4">
                    <div class="card-header">Monthly Spending Trends</div>
                    <div class="card-body text-center">
                        <img src="data:image/png;base64,{{ img_data.monthly_trends }}" class="img-fluid" alt="Monthly Spending Trends">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            {% if img_data.top_spending_categories %}
                <div class="card mb-4">
                    <div class="card-header">Top Spending Categories</div>
                    <div class="card-body text-center">
                        <img src="data:image/png;base64,{{ img_data.top_spending_categories }}" class="img-fluid" alt="Top Spending Categories">
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Income vs. Expenses</div>
                <div class="card-body">
                    <img src="data:image/png;base64,{{ img_data.incomeVsExpenses }}" class="img-fluid" alt="Income VS Expenses">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-4 text-center">
        <div class="col">
            <button class="btn btn-success">Download Report</button>
        </div>
    </div>
</div>

{% endblock %}